body {
  padding: 72px 0 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  // border-bottom: 1px solid #eaecf0;
  &.gohr {
    background: #392b9c;
    .header__logo {
      filter: brightness(0) invert(1);
      font-size: 32px;
      font-weight: 700;
    }
    .header__lang {
      background: #6425fd;
      color: #fff;
      img {
        filter: brightness(0) invert(1);
      }
    }
    .header__phone {
      color: #fff;
    }
  }

  &.gomed {
    background: #0c67c9;
    .header__logo {
      filter: brightness(0) invert(1);
      font-size: 32px;
      font-weight: 700;
    }
    .header__lang {
      background: #0c78ed;
      color: #fff;
      img {
        filter: brightness(0) invert(1);
      }
    }
    .header__phone {
      color: #fff;
    }
  }
  &.retail {
    background: #084fb9;
    .header__logo {
      filter: brightness(0) invert(1);
      font-size: 32px;
      font-weight: 700;
    }
    .header__lang {
      background: #1960ca;
      color: #fff;
      img {
        filter: brightness(0) invert(1);
      }
    }
    .header__phone {
      color: #fff;
    }
  }

  &.construction {
    background: #399919;
    .header__logo {
      filter: brightness(0) invert(1);
      font-size: 32px;
      font-weight: 700;
    }
    .header__lang {
      background: #47a727;
      color: #fff;
      img {
        filter: brightness(0) invert(1);
      }
    }
    .header__phone {
      color: #fff;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__burger-btn {
    width: 40px;
    height: 40px;
    position: relative;
    .header__burger-open {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.3s;
      opacity: 1;
      transform: translate(-50%, -50%) rotate(0);
    }
    .header__burger-close {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.3s;
      opacity: 0;
      transform: translate(-50%, -50%) rotate(180deg);
    }
    &.active {
      .header__burger-open {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(180deg);
      }
      .header__burger-close {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__lang {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 8px;
    background: #eaecf0;
    border-radius: 200px;
    cursor: pointer;
  }
  &__phone {
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }
}
.nav__overlay {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transform: translateY(calc(-100% - 72px));
  transition: all 0.3s ease-in-out;
  &.active {
    transform: translateY(0);
  }

  &.gohr {
    .header__nav-module {
      img {
        filter: invert(22%) sepia(95%) saturate(7489%) hue-rotate(260deg) brightness(98%) contrast(103%);
      }
      &:hover {
        background: #6425fd;

        h3 {
          color: #fff;
        }
        p {
          color: #fff;
          opacity: 0.8;
        }
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
  &.retail {
    .header__nav-module {
      img {
        filter: invert(18%) sepia(97%) saturate(2516%) hue-rotate(210deg) brightness(93%) contrast(94%);
      }
      &:hover {
        background: #084fb9;

        h3 {
          color: #fff;
        }
        p {
          color: #fff;
          opacity: 0.8;
        }
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
  &.construction {
    .header__nav-module {
      img {
        filter: invert(44%) sepia(74%) saturate(516%) hue-rotate(60deg) brightness(95%) contrast(95%);
      }
      &:hover {
        background: #399919;

        h3 {
          color: #fff;
        }
        p {
          color: #fff;
          opacity: 0.8;
        }
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
.header__nav {
  position: fixed;
  top: 72px;
  left: 0;
}
.nav__overlay-container {
  position: relative;
  background: #fff;
  border-radius: 0 0 20px 20px;
}
.header__nav-modules {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 12px;
  padding: 32px 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.header__nav-module {
  padding: 16px;
  border-radius: 24px;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
  width: calc(25% - 12px);
  &:hover {
    background: #0c67c9;

    h3 {
      color: #fff;
    }
    p {
      color: #fff;
      opacity: 0.8;
    }
    img {
      filter: brightness(0) invert(1);
    }
  }
  img {
    transition: all 0.3s;
  }

  h3 {
    font-size: 20px;
    line-height: 125%;
    font-weight: 600;
    margin: 0 0 8px;
    color: #000;
    transition: all 0.3s;
  }

  p {
    font-size: 16px;
    line-height: 125%;
    color: #6a6f79;
    margin: 0 0 24px;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 1024px) {
  .header__nav-module {
    width: calc(33.3% - 12px);
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 64px 0 0;
  }
  .header__container {
    height: 64px;
  }
  .header__logo {
    &-img {
      width: 110px;
    }
  }
  .nav__overlay {
    top: 64px;
    transform: translateY(calc(-200% - 64px));
  }
  .header__nav {
    top: 64px;
  }
  .header__nav-module {
    width: calc(50% - 12px);
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
    img {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }
  }

  .header__actions {
    display: none;
  }
}
