body {
  padding: 72px 0 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__lang {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 8px;
  background: #eaecf0;
  border-radius: 200px;
  cursor: pointer;
}
.header__phone {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

// ----------------- Hero
.hero {
  overflow: hidden;
  padding: 130px 0 104px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.hero__layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 270px;
  background: #4a91de;
  filter: blur(300px);
}
.hero__text {
  font-size: 20px;
  line-height: 125%;
  color: #000;
  opacity: 0.4;
}
.hero__title {
  font-weight: 700;
  font-size: 43px;
  line-height: 125%;
  color: #000;
}

// ----------------- Partners

.partners {
  padding: 45px 0;
  margin: 0 0 45px 0;
}
.partners__container {
}
.partners__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
}
.partners__item {
}

// ----------------- Modules
.modules {
  margin: 0 0 45px 0;
}
.modules__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modules__duo-box {
  display: flex;
  align-items: stretch;
  gap: 20px;
  .modules__box {
    position: relative;
    width: 50%;
    padding: 40px 44px 0 40px;
    border-radius: 40px;
    min-height: 575px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.gomed {
      background: #e5ecff;
    }
    &.gomax {
      background: #ffeed6;
    }
    &.wms {
      background: #cee3ff;
    }
    &.gohouse {
      background: #f4fbfa;
    }
    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 125%;
      color: #000;
      margin: 0 0 20px 0;
    }
  }
}

.modules__solo-box {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 40px 44px 0 40px;
  border-radius: 40px;
  height: 602px;
  width: 100%;
  overflow: hidden;
  &.retail {
    background: #f2f5f5;
  }
  &.contruction {
    background: #eae6fc;
  }
  div {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #222222;
  }
}

// ----------------- Stats
.stats {
  margin: 0 0 45px 0;
  padding: 45px 0;
}
.stats__container {
  display: flex;
  align-items: stretch;
  gap: 24px;
}
.stats__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 36%;
}
.stats__title {
  font-size: 28px;
  line-height: 145%;
  span {
    color: #0c67c9;
  }
}
.stats__desc-extra {
  display: flex;
  align-items: stretch;
  gap: 16px;
  p {
    font-size: 20px;
    line-height: 125%;
    color: #000;
    opacity: 0.4;
  }
}
.stats__desc-extra-year {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  p {
    width: 110px;
  }
  span {
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    color: #0c67c9;
  }
}
.stats__desc-extra-line {
  display: block;
  height: 100%;
  background: #e5ecf3;
  width: 1px;
}
.stats__list {
  display: flex;
  gap: 8px;
  width: 64%;
}
.stats__item {
  padding: 24px;
  background: #f5f7fa;
  border-radius: 24px;
  width: 33.3%;
  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: #000;
    margin: 0 0 24px;
  }
  p {
    font-size: 16px;
    line-height: 125%;
    color: #000;
    opacity: 0.4;
  }
}
