.hero {
  background: #392b9c;
  padding: 90px 0 0;
  position: relative;
  height: 545px;
  margin: 0 0 90px;
}

.hero__desc {
  max-width: 55%;
  h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 125%;
    color: #fff;
    margin: 0 0 24px;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #fff;
    margin: 0 0 48px;
    span {
      font-weight: 700;
    }
  }
}
.main__btn {
  background: #fff;
  border-radius: 200px;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #392b9c;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.hero__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.proccess {
  margin: 0 0 44px;
  &__container {
    h2 {
      font-weight: 700;
      font-size: 45px;
      line-height: 125%;
      color: #101828;
      margin: 0 0 40px;
      max-width: 70%;
    }
  }
  &__list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 16px;
  }
  &__item {
    background: #f5f7fa;
    border-radius: 20px;
    padding: 24px;
    width: calc(33.3% - 11px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;
      color: #101828;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 125%;
      color: #667085;
    }
  }
  &__item-img {
    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
    }
  }
}

.basics {
  background: #392b9c;
  padding: 90px 0 120px 0;

  &__title {
    color: #fff;
    font-size: 44px;
    text-align: left;
    font-weight: 700;
    margin: 0 0 60px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: 250px;
  }

  .basicitem {
    border-radius: 26px;
    background: #3f33a7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 40px;
    transition: 0.3s;

    &__image {
      width: 100%;
      max-height: 350px;
      object-fit: contain;
    }

    &__icon {
      width: 120px;
      height: 120px;
      display: flex;
      object-fit: contain;
    }

    &__label {
      max-width: 90%;
      text-align: center;
      margin: 0;
      padding: 0;

      color: #fff;
      text-align: center;
      font-size: 26px;
      font-weight: 500;
    }

    &.bt-med {
      grid-column: span 2;
      flex-direction: row;
      justify-content: space-around;

      .basicitem__label {
        width: 50%;
        text-align: center;
      }
    }

    &.bt-big {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:hover {
      transform: scale(1.025);
    }
  }
}

.opportunities {
  padding: 90px 0 76px 0;
  background: #f5f7fa;

  h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 125%;
    color: #101828;
    margin: 0 0 44px;
    max-width: 70%;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__solo-box {
    position: relative;
    padding: 32px 0 0 32px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .maximize__btn {
        top: 12px;
        right: 12px;
      }
    }
  }
  &__solo-desc {
    width: calc(50% - 20px);
    h3 {
      font-weight: 700;
      font-size: 36px;
      line-height: 125%;
      color: #101828;
      margin: 0 0 32px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 125%;
      color: #6a6f79;
    }
  }
  &__solo-desc-item {
    margin: 0 0 16px;
    h4 {
      font-weight: 600;
      font-size: 22px;
      line-height: 130%;
      color: #101828;
      margin: 0 0 8px;
    }
  }
  &__solo-img {
    right: 0;
    bottom: 0;
    padding: 65px 0 0;
  }
  &__duo-box {
    position: relative;
    display: flex;
    align-items: stretch;
    gap: 20px;
  }
  &__box {
    position: relative;
    padding: 32px 32px 0;
    width: 50%;
    background: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .maximize__btn {
        top: 12px;
        right: 12px;
      }
    }
  }
  &__box-desc {
    margin: 0 0 32px;
    h3 {
      font-weight: 700;
      font-size: 36px;
      line-height: 125%;
      color: #101828;
      margin: 0 0 32px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 125%;
      color: #6a6f79;
    }
  }
  &__box-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: calc(100% - 32px);
      object-fit: contain;
    }
  }
}

.maximize__btn {
  position: absolute;
  top: -60px;
  right: -60px;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(89, 108, 118, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.advances {
  padding: 90px 0;

  &__content {
    border-radius: 30px;
    padding: 50px;
    background: #f5f7fa;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      width: 760px;
      height: 760px;
      background: #392b9c;
      content: "";
      position: absolute;
      display: flex;
      bottom: -30%;
      right: -25%;
      border-radius: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
  }

  &__title {
    color: #2a3140;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }

  &__block {
    &-label {
      color: #2a3140;
      font-size: 24px;
      font-weight: 600;
      margin: 0 0 5px 0;
    }

    &-desc {
      color: #6a6f79;
      font-size: 19px;
      font-weight: 500;
    }
  }

  &__image {
    width: 50%;
    flex-shrink: 0;

    &-file {
      position: absolute;
      bottom: -150px;
      right: -120px;
      width: 55%;
    }
  }
}

.requests {
  background: #f5f7fa;
  padding: 80px 0;

  &__title {
    color: #101828;
    font-size: 44px;
    font-weight: 700;
    margin: 0 0 50px 0;
  }

  &__block {
    border-radius: 30px;
    background: #fff;
    padding: 50px;
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-title {
      color: #2a3140;
      font-size: 30px;
      font-weight: 600;
      line-height: 42px; /* 140% */
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  &__image {
    width: 50%;

    &-file {
      position: absolute;
      animation: breathe 6s ease-in-out infinite;
    }
  }

  .requestcard {
    border-radius: 12px;
    background: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    transition: 0.3s;

    &__icon {
      width: 50px;
      height: 50px;
      display: flex;
      object-fit: contain;
    }

    &:hover {
      transform: scale(1.025);
    }
  }
}

.testimonials {
  padding: 90px 0 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;
    h2 {
      font-weight: 700;
      font-size: 45px;
      line-height: 125%;
      color: #101828;
      max-width: 70%;
    }
  }
  &__slider-btns {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__slider-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #f5f7fa;
    transition: all 0.3s ease;
    img {
      transition: all 0.3s ease;
    }
    &:hover {
      background: #0c67c9;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  &__content {
    display: flex;
    gap: 32px;
  }
  &__content-item {
    padding: 32px;
    background: #e5ecf3;
    border-radius: 30px;
    width: 33.3%;
    & > p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000f30;
      padding: 0 0 24px;
      border-bottom: 1px solid #d3dfeb;
      margin: 0 0 32px;
    }
  }
  &__content-user {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
  }
  &__content-user-info {
    display: flex;
    align-items: center;
    gap: 8px;
    h4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 125%;
      color: #101828;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 125%;
      color: #667085;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.devices {
  padding: 90px 0 50px 0;

  &__title {
    color: #000;
    font-size: 45px;
    font-weight: 600;
    margin: 0 0 50px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }

  .devicecard {
    border-radius: 24px;
    background: #f5f7fa;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    &__image {
      width: 250px;
      height: 250px;
      display: flex;
      margin: 0 0 25px 0;
      align-self: center;
      object-fit: contain;
    }

    &__label {
      color: #101828;
      font-size: 28px;
      font-weight: 600;
    }

    &__desc {
      color: var(--Descri, #8b94a8);
      font-size: 20px;
      font-weight: 400;
      line-height: 140%; /* 28px */
    }
  }
}

.videos {
  margin: 0 0 90px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin: 0 0 32px;
    h2 {
      font-weight: 700;
      font-size: 45px;
      line-height: 125%;
      color: #101828;
      max-width: 70%;
    }
  }
  &__slider-btns {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__slider-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    display: flex;
    gap: 24px;
  }
  &__item {
    width: calc(25% - 20px);
    height: 465px;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
  }
  &__item-img {
    img {
      width: 100%;
      height: 465px;
      object-fit: cover;
    }
  }
  &__item-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: all 0.3s ease;
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 2px solid #fff;
      animation: pulsate 3s ease-out infinite;
      opacity: 0;
    }
    cursor: pointer;
    img {
      margin-left: 5px;
    }
  }
  &__item-desc {
    position: absolute;
    bottom: 24px;
    left: 24px;
    z-index: 2;
    h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      color: #fff;
      margin: 0 0 8px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 125%;
      color: #fff;
    }
  }
  &-item-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(195, 44, 49, 0.1) 60%, rgba(0, 0, 0, 0.4) 100%);
  }
}

.integrations {
  margin: 0 0 90px;
  &__container {
    h2 {
      font-weight: 700;
      font-size: 45px;
      line-height: 125%;
      color: #101828;
      max-width: 70%;
      margin: 0 0 40px;
    }
  }
  &__tabs {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px;
    border-radius: 200px;
    background: #fff;
    margin: 0 0 32px;
  }
  &__tab {
    padding: 12px 26px;
    border-radius: 200px;
    cursor: pointer;
    background: #f5f5f5;
    transition: all 0.3s ease;
    &.active {
      background: #0c67c9;
      color: #fff;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__content {
    display: flex;
    gap: 8px;
  }
  &-content__left {
    width: calc(33.3% - 8px);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    img {
      width: calc(50% - 8px);
      object-fit: contain;
      height: 180px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &__content-middle {
    width: calc(33.3% - 8px);
    img {
      object-fit: cover;
      width: 100%;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &-content__right {
    width: calc(33.3% - 8px);
    display: flex;
    flex-wrap: wrap;
    img {
      width: calc(50% - 8px);
      object-fit: contain;
      height: 180px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
    gap: 8px;
  }
}

.faq {
  padding: 50px 0 100px 0;

  &__title {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 50px 0;

    span {
      color: #0c67c9;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .faqcard {
    border-radius: 12px;
    background: var(--BackgroundGray, #f5f7fa);
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 75px;

    &__question {
      height: 75px;
      flex-shrink: 0;
      color: #000;
      font-size: 20px;
      font-weight: 700;
      line-height: 27px; /* 135% */
      padding: 0 100px 0 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 24px;
        transition: 0.3s;
        height: 24px;
        background: url(/assets/icons/faq-open.svg) no-repeat center center/contain;
        right: 30px;
      }
    }

    &__answer {
      width: calc(100% - 40px);
      margin: 15px auto;
      padding: 20px;
      background: #eeeeee;
      border-radius: 12px;
      font-size: 14px;
      line-height: 170%;
      font-weight: 500;
    }

    &.opened {
      max-height: 50vh;

      .faqcard__question::after {
        transform: rotate(45deg);
      }
    }
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
